# See dos how to configure the bundle: https://symfony.com/doc/current/bundles/LiipImagineBundle/basic-usage.html
# Documentation on how to configure the bundle can be found at: https://symfony.com/doc/current/bundles/LiipImagineBundle/basic-usage.html
liip_imagine:
    # valid drivers options include "gd" or "gmagick" or "imagick"
    driver: "gd"
    loaders:
        default:
            filesystem:
                allow_unresolvable_data_roots: true
                data_root: "%kernel.project_dir%/var/data"
    data_loader: azure_image_loader

    filter_sets:
        cache: ~
        koopman_rect_small:
            quality: 75
            format: jpg
            filters:
                thumbnail: { size: [120, 160], mode: outbound }
        koopman_rect_medium:
            quality: 75
            format: jpg
            filters:
                thumbnail: { size: [426, 568], mode: outbound }

# services:
#     imagine.data.loader.flysystem:
#         class: App\Imagine\SwiftFlysystemLoader
#         arguments:
#             - "@service_container"
#             - "@app_util_logger"
#         tags:
#             - { name: "liip_imagine.binary.loader", loader: app_flysystem_loader }
#     imagine.cache.resolver.flysystem:
#         class: App\Imagine\SwiftFlysystemResolver
#         arguments:
#             - '%env(SWIFT_PROJECT_ID)%'
#             - '%env(SWIFT_EXTERNAL_DOMAIN)%'
#             - '%swift_flysystem_container_thumbs%'
#             - '%env(SWIFT_TEMP_URL_KEY)%'
#             - "@imagine_cache"
#             - "@service_container"
#         tags:
#             - { name: "liip_imagine.cache.resolver", resolver: app_flysystem_resolver }