services:
  mm-api:
    build:
      context: .
      dockerfile: Dockerfile_phpfpm
    container_name: mm-api-mm-api # TODO kleiner maken
    restart: always
    # TODO debugger wordt niet geinstalleerd
    command: >
      sh -c "apk add --no-cache $$PHPIZE_DEPS ;\
             nslookup host.docker.internal || echo '172.172.0.1 host.docker.internal' >> /etc/hosts ;\
             pecl install xdebug-3.1.6 ;\
             docker-php-ext-enable xdebug ;\
             echo 'xdebug.mode=debug' >> /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini ;\
             echo 'xdebug.client_host=host.docker.internal' >> /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini ;\
             echo 'xdebug.client_port=9003' >> /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini ;\
             echo 'xdebug.start_with_request=yes' >> /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini ;\
             echo 'xdebug.log=/var/www/xdebug.log' >> /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini ;\
             php-fpm -e"
    volumes:
      - $PWD/src:/var/www/src
      - $PWD/config:/var/www/config
      - $PWD/tests:/var/www/tests
    environment:
      - APP_ENV=dev
      - APP_DEBUG=1
      - APP_SECRET=insecure
      - DATABASE_URL=pgsql://salmagundi:insecure@mm-db:5432/makkelijkemarkt?serverVersion=14&charset=utf8
      - MAILER_URL=smtp://null:null@salmagundi_mailhog:1025
      - APP_MM_KEY=insecure
      - API_KEY=insecure
      - TRUSTED_PROXIES=0.0.0.0/0
      - MM_API__NGINX_HTPASSWD=insecure
      - MOBILE_ACCESS_KEY=insecure
      - AZURE_AUTHORITY_HOST=''
      - AZURE_TENANT_ID=''
      - AZURE_FEDERATED_TOKEN_FILE=''
      - AZURE_CLIENT_ID=''
      - AZURE_STORAGE_IMAGE_ACCOUNT=''
      - AZURE_STORAGE_IMAGE_CONTAINER=''
      - AZURE_SUBSCRIPTION_ID=''
      - AZURE_RESOURCE_GROUP=''
      - MAILER_FROM=test@local.nl
      - MAILER_USER=salmagundi
      - MAILER_PASSWORD=insecure


      # TODO nog testen
      - MM_API__BASE_URL=http://api.mm/
      - DAALDER_URL=http://rah.mm/
      - MAILER_HOST=smtp://null:null@salmagundi_mailhog:1025
      - MAILER_PORT=1025
    networks:
      - markten
    ports:
      - 9001:9000
    tmpfs:
      - /var/www/var/cache/dev
      - /var/www/var/log
      - /tmp
      - /var/www/public/media/cache/koopman_rect_small
      - /var/www/public/media/cache/koopman_rect_medium
  mm-api-nginx:
    build:
      context: .
      dockerfile: Dockerfile_nginx
    container_name: mm-api-nginx
    depends_on:
      - mm-api
    environment:
      - FASTCGI_PASS=mm-api:9000  # TODO dit nog toevoegen bij salmagundi-infra
    networks:
      - markten
    ports:
      - 8080:8080
    tmpfs:
      - /var/cache/nginx
      - /var/run
      - /var/log/nginx
  mm-db:
    image: postgres:14
    container_name: mm-db
    environment:
      POSTGRES_DB: makkelijkemarkt
      POSTGRES_USER: salmagundi
      POSTGRES_PASSWORD: insecure
    ports:
      - "5433:5432"
    expose:
      - 5432
    volumes:
      - mm-db-data:/var/lib/postgresql/data
    networks:
      - markten
volumes:
  mm-db-data:
networks:
  markten:
    driver: bridge
