version: "3.2"

services:
  web:
    build: .
    ports:
    - "8081:8080"
    networks:
      - bridge
    environment:
      - MM_API__NGINX_HTPASSWD=test
    volumes:
      - ./src:/app/src
      - ./config:/app/config

networks:
  bridge:
    ipam:
      config:
        - subnet: 172.101.0.0/16
          gateway: 172.101.0.1
