version: "3.2"

services:
  web:
    build: .
    env_file: 
      - .env.local
    ports:
      - "8081:8080"
    networks:
      - bridge
    environment:
      - MM_API__NGINX_HTPASSWD=test
    volumes:
      - ./src:/app/src
      - ./config:/app/config
  database:
    image: postgres:9.5
    ports:
    - "5432:5432"
    environment:
      POSTGRES_USER: makkelijkemarkt
      POSTGRES_PASSWORD: insecure

networks:
  bridge:
    ipam:
      config:
        - subnet: 172.101.0.0/16
          gateway: 172.101.0.1
